* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;}
body {
    background-image: url(./assets/back.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.container {
    display:  flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
    margin: 100px auto;
    align-items: center;
    box-shadow: 2px 2px 6px;
    gap: 15px;
    backdrop-filter: blur(10px);
    background: transparent;
    border-radius: 20px;
}
h2 {
    margin-top: 40px;
    font-size: 30px;
    font-weight: 700;
}
.input-display{
    display: flex;
    gap: 5px;
}
.input-dis-ds{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    gap: 3px;
    font-size: 18px;
    font-weight: 700;
}
.input-dis-ds select {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    border: none;
    outline: none;
    text-align: center;
    background-color: rgb(61, 61, 61);
    color: white;
    
}

.display h1 span {
    color: white;
    margin-right:5px ;

}

.btn{
    display: flex;
}

.btn-fun{
    width: 60px;
    height: 60px;
    background-color: black;
    color: white;
    font-size: 35px;
    font-weight: 200;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    transform: .5;
}
.btn-fun:hover{
    background-color: rgba(255, 255, 255, 0.205);
    color: black;
}
.pause {
    display: none;
}
.reset {
    display: none;
}

p {
    font-size: 20px;
    font-weight: 700;
    display: none;
    color: white;
    text-align: center;
}

@media (max-width: 730px ){
    
    body{
        background-image: url(./assets/back1.jpg);
    }
    .container{
        width: 350px;
    }

}
